<!DOCTYPE HTML>
<html lang="en">
    <head>
        <title>Products Index</title>
        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
        <link rel="stylesheet" href="/css/styles.css" />
    </head>
    <body>
    <div>
        <!-- Include the menu bar fragment -->
<!--        <div th:replace="~{fragments/menu :: menu-bar}"></div>-->

<!--        <form method="get" action="/greet_controller">-->
<!--            <label for="messageID">Message ID:</label><br>-->
<!--            <input type="text" name="messageID" required><br>-->
<!--            <input type="submit" value="Get your greeting here...">-->
<!--        </form>-->
<!--    </div>-->
        <p>View all Messagess <a href="/viewMessages">here</a></p>


    </div> </body>
</html>